/* ---------------------header------------------- */

.top {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0px 0px 0px 0px;
}

/* logo */
.logo img {
    pointer-events: none;
    width: 30vmin;
    height: auto;
}

.textlogo center a img {
    width: 30vmin;
    height: auto;
}

fieldset {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    border: none;
}

.text-border {
    background-color: #D9EDEE;
    padding: 5px 35px 5px 35px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    display: inline-block;
    border-radius: 5px;
    transition: 0.3s;
}

.log_register {
    padding: 5px 25px 5px 25px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    display: block;
    border-radius: 5px;
    float: right;

}

a:hover {
    animation-duration: 9s infinite;
    color: #000000;

}

b:hover {
    animation-duration: 9s infinite;
    background-color: #ACE2E4;
    color: #000000;

}

a {
    position: relative;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 2.5vmin;
    font-family: 'Mitr', sans-serif;
}

@media(max-width:600px) {
    a {
        text-align: left;
        position: relative;
    }

}

ิิb {
    position: relative;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: 'Mitr', sans-serif;

}

.pulse:hover,
.pulse:focus {
    animation: pulse 3s;
    box-shadow: 0 0 0 2em rgba(#fff, 0);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}


/* /////////////////////////////////////////////////////////////////////// */
/* ----------------------------------------------Search Form------------------------------------- */

form {
    float: none;
    margin: 0px 0 0px 0px;
    padding: 0;
}

form input {
    display: block;
    float: left;
    width: 44.4vw;
    height: 40px;
    padding: 0 0 0 15px;
    color: #999999;
    background: url("images/search.png") 0 0 no-repeat #E1E1E1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
}

form input#search {
    border-radius: 70px;
    width: 40px;
    height: auto;
    margin: 0 0 0 10px;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    background: none;
}

/* @media(max-width:600px){
    form input#serach{
        
    }
} */

/* ////////////////////////////////////////////////////////// */

.profile {
    background: #D9EDEE;
    border: 1px solid #000000;
    width: 20vw;
    height: 7vw;
    margin-left: 15px;
    margin-top: 4vw;
    border-radius: 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.textprofile {
    text-align: center;
    font-size: 1.9vw;
}


.username {
    font-size: 1.3vw;
    text-align: center;
}

/* ////////////////////////////////////////////////////////// */

.bg-center {
    position: absolute;
    margin-top: -3vmin;
    margin-left: 45vmin;
    width: 150vmin;
    height: 70vmin;
    background: #D9EDEE;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: auto;
}

.online {
    position: relative;
    margin-right: 3rem;
    float: right;
    height: 1.9vw;
    width: 1.9vw;
    background-color: rgb(43, 255, 0);
    border: 5px solid #000000;
    border-radius: 50%;
    display: block;
}

.user_image {
    margin-top: -0.9rem;
    margin-left: 1.7rem;
    float: left;
    width: 3.5vw;
    border-radius: 50%;
}



/* ///////////////////////////////////////////// */

.category {
    background: #D9EDEE;
    border: 1px solid #000000;
    width: 19.53125vw;
    height: 33.15649867374005vh;
    border-radius: 22px;
    margin-left: 15px;
    margin-top: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    /* z-index:999; */
}

.category p {
    text-align: left;
    margin-left: 60px;
    /* z-index:999; */
}

.point {
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    height: 25px;
    width: 25px;
    background-color: rgb(43, 255, 0);
    border: 5px solid #000000;
    border-radius: 50%;
    display: block;
    z-index: 999;
    position: absolute;
}
